
@{
    ViewBag.Title = "CamKetChatLuong";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div>
    <div class="container" style="margin: 50px auto;height:500px">
        <div class="text">
            <h2>Cam kết về chất Lượng</h2>
        </div>
        <div class="text text-xl-left">
            <p>

            </p>
        </div>
    </div>
</div>