
@{
    ViewBag.Title = "ChinhSachBaoHanh";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div>
    <div class="container" style="margin: 50px auto;height:500px">
        <div class="text">
            <h2>Chính sách bảo hành</h2>
        </div>
        <div class="text text-xl-left">
            <p>

            </p>
        </div>
    </div>

</div>