
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div>
    <div class="container" style="margin: 50px auto;height:500px">
        <div class="text-center">
            <h2>Liên hệ</h2>
        </div>
        <div class="text">
            <div class="col-8">
                <table class="table tab-content">
                    <tr>
                        <th>Mã Sinh Viên</th>
                        <th>Tên thành viên</th>
                        <th>Lớp</th>
                        <th>Email</th>
                        <th>Ngày sinh</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td>17150170</td>
                            <td>Đào Mạnh Quân</td>
                            <td>CNTT 16B</td>
                            <td>manhquan1599@gmail.com</td>
                            <td>01/05/1999</td>
                        </tr>
                        <tr>
                            <td>17150216</td>
                            <td>Nguyễn Duy Vũ</td>
                            <td>CNTT 16B</td>
                            <td>duyvu1999pro@gmail.com</td>
                            <td>16/10/1999</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<style>
    .text .col-8 {
        margin: 20px auto;
    }

        .text .col-8 th {
            background: #158930;
            color: #ffff;
        }
</style>