
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng nhập Admin</title>
</head>
<body>
    <link href="~/Content/cssLogin/style_Login.css" rel="stylesheet" />
    <div>
        <div id="popup_login" style=" display:block;">
            <div class="login-form" style="height:350px">
                <h2>Đăng nhập</h2>
                <div class="form-info">
                    <form action="/Admin/DangNhap" method="post">
                        <input type="text" class="txtTenDangNhap email" name="txtTenDangNhap" placeholder="Tài Khoản" required="">
                        <input type="password" class="txtMatKhau password" name="txtMatKhau" placeholder="Mật Khẩu" required="">
                        <p><a href="#">Quên tài khoản?</a></p>
                        <h3 style="color:red;">@ViewBag.thongbao</h3>
                        <ul class="login-buttons">
                            <li>
                                <input type="submit" class="btn_Dang_Nhap" value="Đăng Nhập">
                            </li>
                            <li class="btn_DangKy" style="margin-left:auto;margin-right:auto;">
                                <a href="/Admin/DangKy" class="hvr-sweep-to-left ">Đăng ký</a>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <style>
        #popup_login input[type="text"],
        #popup_login input[type="password"]
        {
            width:80%;
        }
        #popup_login input[type="submit"]{
            padding: 10px 30px;
        }
        a.hvr-sweep-to-left{
            padding: 10px 20px;
            text-decoration:none;
        }
        @@media only screen and (max-width: 600px) {

            #popup_login input[type="submit"] {
                padding: 5px 15px;
                margin-left: 0;
            }

            a.hvr-sweep-to-left {
                padding: 5px 10px;
                text-decoration: none;
            }

            #popup_login input[type="text"],
            #popup_login input[type="password"] {
                width: 65%;
            }
        }
        
    </style>
</body>
</html>
