
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lỗi truy nhập</title>
</head>
<body>
    <div>
        <h2>Bạn không đủ quyền hạn vào đây. Vui lòng quay về @Html.ActionLink("Trang chủ", "Index", "Home")</h2>
    </div>
</body>
</html>
