@using ShopCar.Model;


<div class="header_top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-md-7">
                <div class="header_top_links text-right">
                    <ul>
                        @if (Session["TaiKhoan"] != null && Session["TaiKhoan"].ToString() != "")
                        {
                            KhachHang kh = (KhachHang)Session["TaiKhoan"];
                            <li>Chào @kh.TenKH</li>
                            <li><a href="/Home/DangXuat">Đăng xuất</a></li>
                        }
                        else
                        {
                            <li style="display:inline;"><a href="/Home/DangKy">Đăng ký</a></li>
                            <li style="display:inline;"><a class="lock btnDangNhap" href="#" id="">Đăng Nhâp</a></li>
                        }
                        <li><a href="/GioHang/XemGioHang">Giỏ Hàng</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<link href="~/Content/cssLogin/style_Login.css" rel="stylesheet" />
<div>
    <div id="popup_login">
        <div class="login-form" style="height:400px">
            <div style="clear:both;text-align:right;">
                <span id="close_form" class="btn btn-danger">X</span>
            </div>
            <h2>Đăng nhập</h2>
            <div class="form-info">
                <form action="/Home/DangNhap" method="post">
                    <input type="text" class="txtTenDangNhap email" name="txtTenDangNhap" placeholder="Tài Khoản" required="">
                    <input type="password" class="txtMatKhau password" name="txtMatKhau" placeholder="Mật Khẩu" required="">
                    <p><a href="#">Quên tài khoản?</a></p>
                    <ul class="login-buttons">
                        <li>
                            <input type="submit" class="btn_Dang_Nhap" value="Đăng Nhập">
                        </li>
                        <li class="btn_DangKy" style="margin-left:auto;margin-right:auto;">
                            <a href="/Home/DangKy" class="hvr-sweep-to-left ">Đăng ký</a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //hiển thị
    $(".btnDangNhap").click(function () {
        $("#popup_login").show();
    })

    //đóng
    $("#close_form").click(function () {
        $("#popup_login").hide();
    })
</script>
<style>
    @@media only screen and (max-width: 1477px) {
        li.btn_DangKy a{
            opacity:0;
            visibility:hidden;
        }
    }

</style>
